input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

input{
    position: relative;
}

#logo{
    margin-top: 10vh;
}

#searches{
    text-align: center;
}

@media (min-width: 600px) {
    .searchBar{
        width: 500px;
    }
}

@media (max-width: 599px) {
    .searchBar{
        width: 375px;
    }
}



#google{
    margin-bottom: 25px;
}


#yt{
    margin-bottom: 50px;
}

.searchBar{
    border-width: 1px;
    border-radius: 500px;
    padding-left: 20px;
    height: 50px;
    /* width: 500px; */
    
    border-color: rgb(211, 211, 211);
    border-style: solid;
}

button{
    border-color: rgb(211, 211, 211);
    border-style: solid;
}

#button1{
    text-align: center;
}

.button{
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
    
    text-align: bottom;

    height: 240px;
    width: 220px;
}

#ncert{
    background-color: #7EC4CC; 
    border-radius: 15px;
}    


#discord{
    background-color: #5965F2;
    border-radius: 15px;
}

#quizizz{
    background-color: rgb(53, 192, 247);
    border-radius: 15px;
}

#kahoot{
    background-color: #8941C4;
    border-radius: 15px;
}

#udemy{
    background-color: rgb(13, 255, 223);
    border-radius: 15px;
}

