input:focus{
    outline: none;
}

input{
    position: relative;
}

#logo{
    margin-top: 10vh;
}

#e{
    text-align: center;
}

#searchBar{
    border-width: 1px;
    border-radius: 500px;
    padding-left: 20px;
    height: 50px;
    width: 500px;
    
    border-color: rgb(211, 211, 211);
    border-style: solid;
}
